<div class="p-2">
  <h2>Manage my book</h2>
  <hr>
  <div class="alert alert-danger mt-2" role="alert" *ngIf="errorMsg.length">
    <p class="p-0 m-0" *ngFor="let msg of errorMsg">{{msg}}</p>
  </div>
  <div class="d-flex gap-2">
    <div class="col-3">
      <img class="rounded-1" width="100%" height="100%" [src]="selectedPicture || ''" alt="...">
      <div class="mt-2">
        <input
          (change)="onFileSelected($event)"
          class="form-control"
          type="file"
          id="formFile"
          accept="image/*"
        >
      </div>
    </div>
    <div class="col-9">
      <form class="row g-3">
        <div class="col-12">
          <label for="title" class="form-label">Title</label>
          <input name="title" [(ngModel)]="bookRequest.title" id="title" type="text" class="form-control" placeholder="Book Title">
        </div>
        <div class="col-6">
          <label for="authorName" class="form-label">Author Name</label>
          <input name="authorName" [(ngModel)]="bookRequest.authorName" id="authorName" type="text" class="form-control" placeholder="Author Name">
        </div>
        <div class="col-6">
          <label for="isbn" class="form-label">ISBN</label>
          <input name="isbn" [(ngModel)]="bookRequest.isbn" id="isbn" type="text" class="form-control" placeholder="ISBN">
        </div>
        <div class="col-12">
          <label for="synopsis" class="form-label">Synopsis</label>
          <textarea name="synopsis" [(ngModel)]="bookRequest.synopsis" id="synopsis" class="form-control" placeholder="Book Synopsis" rows="4"></textarea>
        </div>
        <div class="col-12">
          <input name="shareable" [(ngModel)]="bookRequest.shareable" id="shareable" type="checkbox" class="form-check-input">
          <label for="shareable" class="form-check-label ms-2">Share me</label>
        </div>
        <div class="d-flex justify-content-end gap-2 col-12">
          <button (click)="saveBook()" type="submit" class="btn btn-outline-primary">
            <i class="fas fa-save"></i>&nbsp;Save
          </button>
          <a routerLink="/books/my-books" class="btn btn-link text-danger">
            <i class="fas fa-times"></i>&nbsp;Cancel
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
